.new-expense__controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  margin-bottom: 2.4rem;
  text-align: left;
}

.new-expense__control label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
}

.new-expense__actions {
}
